<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>File Uploader</title>
  </head>
  <body class="bg-gray-50 min-h-screen">
    <%- include("partials/error.ejs", { messages: { error: errorMessages || [] } }) %>
    <%- include("partials/navbar.ejs", {name: user.name}) %>
    <main class="max-w-7xl mx-auto p-6">
      <div class="flex gap-6">
        <aside class="w-64"><%- include('partials/sidebar.ejs', { currentFolder, folders, files, pathString, user }) %></aside>
        <section class="flex-1">
          <div class="mb-4">
            <%- include('partials/pathString.ejs') %>
          </div>
          <%- include("partials/entries.ejs") %>
        </section>
      </div>
    </main>
  </body>
</html>

<script>
  const CURRENT_FOLDER_ID = "<%= currentFolder.id %>";

  const SUPABASE_URL = "<%= process.env.SUPABASE_URL %>";

</script>

<script src="/js/upload.js"></script>